<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="PNGCompressor" version="1.0.5" targetFramework="net452" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net452" />
</packages>